
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/To-Shuffle-or-Not-To-Shuffle.iml
.idea/vcs.xml
.idea/rSettings.xml
.idea/rGraphicsSettings.xml
*.pyc
*.pyc
learning_curves.png